.styledLinkContent{
    padding-top: 8px;
    text-align: left;
    font: normal normal normal 12px/12px Poppins Light;
    letter-spacing: 2.4px;
    color: #17100D;
    text-transform: uppercase;
    opacity: 1;
}

.styledLinkContent--sale{
    color: #CCB28A;
}

.menuContainerNav{
    padding-right: 40px;
}